<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleguide.css">
    <link rel="stylesheet" href="/student.css">
    <script defer src="script.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>  
    {% comment %} <h1>{{ title }}</h1> {% endcomment %}