{% render 'partials/head.liquid', title: 'Squad page' %}

<main>

</main>



{% comment %} <h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul> {% endcomment %}

{% render 'partials/foot.liquid', squads: squads %}