* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: var(--line-white);
}

main {
  position: relative;
  width: 100%;
  aspect-ratio: 68 / 105;
  border: 2px solid #fff;
  background: repeating-linear-gradient(
    90deg,
    #2e7d32 0%,
    #2e7d32 10%,
    #4caf50 10%,
    #4caf50 20%
  );
  .team-a {
    .player {
      position: absolute;
      width: 12%;
      border-radius: 50%;
      overflow: hidden;
      background: #000;
    }
  }
}

.middle-line {
  background-color: var(--line-white);
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.middle-line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.middle-line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Team-a css voor de posities */
.team-a .keeper { top: 5%; left: 44%; }

.team-a .def-1 { top: 15%; left: 10%; }
.team-a .def-2 { top: 15%; left: 30%; }
.team-a .def-3 { top: 15%; left: 55%; }
.team-a .def-4 { top: 15%; left: 75%; }

.team-a .mid-1 { top: 30%; left: 25%; }
.team-a .mid-2 { top: 30%; left: 44%; }
.team-a .mid-3 { top: 30%; left: 63%; }

.team-a .att-1 { top: 45%; left: 20%; }
.team-a .att-2 { top: 45%; left: 44%; }
.team-a .att-3 { top: 45%; left: 68%; }

