* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: sans-serif;
  background-color: var(--line-white);
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
  aspect-ratio: 68 / 105;
  border: 2px solid #fff;
  background: repeating-linear-gradient(
    90deg,
    #2e7d32 0%,
    #2e7d32 10%,
    #4caf50 10%,
    #4caf50 20%
  );
  .team-a {
    .player {
      position: absolute;
      width: clamp(45px, 17%, 90px);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      overflow: hidden;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .team-a .player:hover {
    transform: scale(4);
    z-index: 10;
  }

  .team-a .player:active {

      transform: scale(4);
      z-index: 10;
  }

  #openCloseReserve {
    position: absolute;
    bottom: 5px;
    left: 1px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
    z-index: 30;
  }
}

.reserve-team {
  display: none;
  width: 100%;
  padding: 16px;
  background: linear-gradient(to bottom, #1a1a1a, #0f0f0f);
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
  gap: 12px;
  justify-items: center;

  .reserve-player {
    width: 55px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.middle-line {
  background-color: var(--line-white);
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;

  /* @media (min-width: 1024px) {
    scale: 1.5;
  } */
}

/* Hier word de middelijn gezet. Ik hoef door de before en after geen extra HTML toe te voegen */
.middle-line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.middle-line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* lijntjes toegevoegd aan beide zijden. Door de after in css hoef ik geen extra html toe te voegen */
.goal-line-1::after,
.goal-line-2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 60px;
  border: 3px solid #fff;
  border-top: none;
}

.goal-line-1::after {
  top: 3px;
}

.goal-line-2::after {
  bottom: 3px;
  transform: translateX(-50%) rotate(180deg);
}


/* Team-a css voor de posities boven */
.team-a .keeper { top: 2%; left: 44%; }

.team-a .def-1 { top: 10%; left: 10%; }
.team-a .def-2 { top: 10%; left: 30%; }
.team-a .def-3 { top: 10%; left: 55%; }
.team-a .def-4 { top: 10%; left: 75%; }

.team-a .mid-1 { top: 22%; left: 25%; }
.team-a .mid-2 { top: 26%; left: 44%; }
.team-a .mid-3 { top: 22%; left: 63%; }

.team-a .att-1 { top: 36%; left: 20%; }
.team-a .att-2 { top: 40%; left: 44%; z-index: 2; }
.team-a .att-3 { top: 36%; left: 68%; }

/* Posities voor beneden */

.team-a .keeper-2 { bottom: 2%; left: 44%; }

.team-a .def-5 { bottom: 10%; left: 10%; }
.team-a .def-6 { bottom: 10%; left: 30%; }
.team-a .def-7 { bottom: 10%; left: 55%; }
.team-a .def-8 { bottom: 10%; left: 75%; }

.team-a .mid-4 { bottom: 22%; left: 25%; }
.team-a .mid-5 { bottom: 26%; left: 44%; }
.team-a .mid-6 { bottom: 22%; left: 63%; }

.team-a .att-4 { bottom: 36%; left: 20%; }
.team-a .att-5 { bottom: 40%; left: 44%; z-index: 2; }
.team-a .att-6 { bottom: 36%; left: 68%; }

